<?xml version="1.0"?>
<robot name="origins">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="red">
    <color rgba="0.8 0 0 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.14 0.26 0.005"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.14 0.26 0.005"/>
      </geometry>
    </collision>
  </link>

  <link name="carriage1">
    <visual>
      <geometry>
        <box size="0.12 0.03 0.02"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="base_to_carriage1" type="fixed">
    <parent link="base_link"/>
    <child link="carriage1"/>
    <origin xyz="0 -0.05 0.01"/>
  </joint>


  <link name="carriage2">
    <visual>
      <geometry>
        <box size="0.12 0.03 0.02"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="base_to_carriage2" type="fixed">
    <parent link="base_link"/>
    <child link="carriage2"/>
    <origin xyz="0 0.05 0.01"/>
  </joint>



  <link name="arml1">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage1 to arml1" type="fixed">
    <parent link="carriage1"/>
    <child link="arml1"/>
    <origin xyz="0.06 -0.005 0"/>
  </joint>


  <link name="arml2">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage1 to arml2" type="fixed">
    <parent link="carriage1"/>
    <child link="arml2"/>
    <origin xyz="0.06 0.005 0"/>
  </joint>

    

  <link name="armr1">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="-0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage1 to armr1" type="fixed">
    <parent link="carriage1"/>
    <child link="armr1"/>
    <origin xyz="-0.06 -0.005 0"/>
  </joint>

  <link name="armr2">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="-0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage1 to armr2" type="fixed">
    <parent link="carriage1"/>
    <child link="armr2"/>
    <origin xyz="-0.06 0.005 0"/>
  </joint>


<link name="arml3">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage2 to arml3" type="fixed">
    <parent link="carriage2"/>
    <child link="arml3"/>
    <origin xyz="0.06 -0.005 0"/>
  </joint>


  <link name="arml4">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage2 to arml4" type="fixed">
    <parent link="carriage2"/>
    <child link="arml4"/>
    <origin xyz="0.06 0.005 0"/>
  </joint>

    

  <link name="armr3">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="-0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage2 to armr4" type="fixed">
    <parent link="carriage2"/>
    <child link="armr1"/>
    <origin xyz="-0.06 -0.005 0"/>
  </joint>

  <link name="armr4">
    <visual>
      <geometry>
        <box size="0.005 0.05 0.005"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="-0.0025 0.02 0"/>
    </visual>
  </link>
  <joint name="carriage2 to armr4" type="fixed">
    <parent link="carriage2"/>
    <child link="armr2"/>
    <origin xyz="-0.06 0.005 0"/>
  </joint>
</robot>





